@(board: Option[IndexedSeq[IndexedSeq[Int]]])

@main("Sudoku") {

<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="@routes.Assets.at("images/lang-logo.png")">
    </a>
    <h1>Sudoku Solver</h1>
  </div>
</div>
<div class="container">
  <hr>
  <div class="row">
    <div class="col-md-6">
      @board.map{solvedBoard =>
      <h3><span class="glyphicon glyphicon-info-sign"></span> Solved Sudoku </h3>

      <table>
        @solvedBoard.map{boardRow =>
        <tr>
          @boardRow.map{box =>
            <td> @{box} </td>
          }
        </tr>
        }
      </table>
      }
    </div>
  </div> <!-- row -->
</div>

}
