@(boards: List[models.Board])

@main("Sudoku") {

<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="@routes.Assets.at("images/lang-logo.png")">
    </a>
    <h1>Sudoku Solver</h1>
  </div>
</div>
<div class="container">
  <hr>
  <div class="row">
    @boards.map{board =>
      <div class="col-md-6">
        <h3><span class="glyphicon glyphicon-info-sign"></span> Example Sudoku </h3>

        <table>
          @board.board.map{boardRow =>
          <tr>
            @boardRow.map{box =>
              <td> @box </td>
            }
          </tr>
          }
        </table>
        <p class=text">
          <a href="brute-force/@{board.id}" id="register-gateway">Brute Force</a>
        </p>
      </div>
    }
  </div> <!-- row -->
</div>

}
