@(board: Option[IndexedSeq[IndexedSeq[models.OptionBox]]])

@main("Sudoku") {

<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="@routes.Assets.at("images/lang-logo.png")">
    </a>
    <h1>Sudoku Solver</h1>
  </div>
</div>
<div class="container">
  <hr>
  <div class="row">
    <div class="col-md-6">
      @board.map{solvedBoard =>
      <h3><span class="glyphicon glyphicon-info-sign"></span> Solved Sudoku </h3>

      <table>
        @solvedBoard.zipWithIndex.map{rowTuple =>
        @if(rowTuple._2 == 3 || rowTuple._2 == 6) { <tr><td>&nbsp;</td></tr>}
        <tr>
          @rowTuple._1.zipWithIndex.map{colsTuple =>
            @if(colsTuple._2 == 3 || colsTuple._2 == 6) { <td><h1>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h1></td>}
            <td>
              <h1>&nbsp;&nbsp;&nbsp;@{colsTuple._1.value.getOrElse(0)}&nbsp;&nbsp;&nbsp;</h1>
              @{colsTuple._1.options}
            </td>
          }
        </tr>
        }
      </table>
      }
    </div>
  </div> <!-- row -->
</div>

}
